
<div class="outer-container">
  <div class="form-container">
    <form class="form-area">
      <label class="input-lables">
        Task Name
      </label>
      <input type="text" [(ngModel)]="task" name="task" placeholder="taskname" />
      <label class="input-lables">
        Priority
      </label>
      <select [(ngModel)]="priority" name="priority">
        <option value="HIGH" default>High</option>
        <option value="MEDIUM">Medium</option>
        <option value="LOW">Low</option>
      </select>
      <label class="input-lables">
        Due Date
      </label>
      <input [(ngModel)]="date" name="date" type="date" placeholder="due-date" />
      <button class="atbtn" (click)="btnclicked()" type="button">Add Task</button>
      <button class="atbtn" type="button" (click)="allpbtnClicked()">All Tasks</button>
      <button class="atbtn" type="button" (click)="hpbtnClicked()">high-priority</button>
      <button class="atbtn" type="button" (click)="mdbtnClicked()">medium-priority</button>
      <button class="atbtn" type="button" (click)="lowbtnClicked()">low-priority</button>
      <button class="atbtn" (click)="clearAll()" type="button">Clear All</button>
    </form>
    
  </div>
  <app-child *ngIf="allpriorities" [tasks]="tasks"></app-child>
  <app-high-priority-tasks *ngIf="highpriorities" [hptasks]="hptasks"></app-high-priority-tasks>
  <app-medium-priority-tasks *ngIf="mediumpriorities" [mdtasks]="mdtasks"></app-medium-priority-tasks>
  <app-low-priority-tasks *ngIf="lowpriorities" [lowtasks]="lowtasks"></app-low-priority-tasks>
</div>

