.form-area{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 190px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color :rgb(108, 115, 111);
  padding: 15px;
  border-radius:10px;
  border-width: 0px;
  color:rgb(255, 245, 245);
}
.outer-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background-color: rgb(188, 188, 188);
}
.input-lables{
  margin-top:10px;
  margin-bottom: 10px;
}
.atbtn{
  width:100px;
  height:40px;
  border-radius:10px;
  border-width:0px;
  background-color: rgb(173, 172, 169);
  color: white;
  font-weight:bold;
  margin: auto;
  margin-top: 10px;
}