.task-list{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgb(108, 115, 111);
  padding: 15px;
  border-radius:10px;
  border-width: 0px;
  width: 750px;
  color:rgb(255, 245, 245);
}
.marBtn{
  width:100px;
  height:40px;
  border-radius:10px;
  border-width:0px;
  background-color: rgb(255, 245, 245);
  color: rgb(0, 0, 0);
  font-weight:bold;
  margin: auto;
}
.listitem{
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-top: 10px;
}
.clrBtn{
  width:100px;
  height:40px;
  border-radius:10px;
  border-width:0px;
  background-color: rgb(173, 172, 169);
  color: white;
  font-weight:bold;
  margin: auto;
  margin-top: 10px;
}